a:hover {
 color: green;
 font-family: Impact;
}
a:visited {
 color: green;
 font-family: Courier;
}
.footer {
 border: 2px solid black;
 background-color: white;
}
.copyright{
 font-family: Courier;
 font-size; 5px;
}
.title {
 border: 4px solid green;
 background-color: white;
 
}
.news {
 border: 4px solid red;
 background-color: green;
 font-family: Courier;
 
}
.downloader {
 border: 4px solid white;
 background-color: black;
 
}
.download_section {
 border: 8px solid white;
 background-color: black;
}
.download_descrip {
 color: white;
 font-size; 10px;
}
#download_title {
 color: white;
 font-family: Courier;
 text-align: center;
 
}
.version {
 border: 2px solid red;
 background-color: white;
 width: 50px;
 height: 50px;
 display: inline-block;
}
