.title {
 border: 4rem solid black;
 background-color: red;
}
.main {
 border: 4px solid black;
}
img#youstupid {
 display: none;
}
}
img#yousmart {
 display: none;
}
.button1:checked + yousmart {
 display: block;
}
.button2:checked + youstupid {
 display: block;
}
